
<h2>Create an Event</h2>
<form action="/createEvent" method="POST">
  <div>
    <label class="form-label">
      EventName:
      <input class="form-control" type="text" name="eventName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Date:
      <input class="form-control" type="date" name="date" />
    </label>
  </div>

  <div>
    <label class="form-label">
      EventType:
      <input class="form-control" type="text" name="eventType" />
    </label>
  </div>

  <div>
    <label class="form-label">
      participant Volume:
      <input class="form-control" type="number" name="participantVolume" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
